{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<form action="" method="post">
<h3 class="text-center">Login</h3>
<div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required="required"> <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required="required"> <br>
    <div align="center">
    <button class="btn btn-primary center" type="submit">Login</button>
    </div>
</div>

</form>



{% endblock %}
