{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}


<form method="POST">
<h3 class="text-center">Sign Up</h3>
<div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required="required"> <br>
    <label for="username">Username</label>
    <input type="username" name="username" id="username" class="form-control" placeholder="Username" required="required"> <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required="required"> <br>
    <label for="password1">Enter Password Again</label>
    <input type="password" name="password1" id="password1" class="form-control" placeholder="Enter Password Again" required="required"> <br>
    <div align="center">
    <button class="btn btn-primary center" type="submit">Sign Up</button>
    </div>
</div>

</form>



{% endblock %}
